<h1>Here are all the movies!</h1>
<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.rank %> <%= movie.name %> <%= button_to "upvote", upvote_path(movie.id), method: :patch %></li>
  <% end %>
</ul>
