<table>
  <tbody>
    <tr>
      <th>
        Ranking
      </th>
      <th>
        Name
      </th>
      <th>
        Upvote
      </th>
    </tr>
    <tr>
      <td>

      </td>
    </tr>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add a Movie", new_movie_path, method: :get %>
