<table>
  <tr>
    <th>
      Ranking
    </th>
    <th>
      Name
    </th>
    <th>
      Upvote
    </th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td>
        Ranked: <%= movie.ranked %>
      </td>
      <td>
        <%= link_to movie.name, movie_path(movie) %>
      </td>
      <td>
        Upvote Button Will Go Here
      </td>
    </tr>
  <% end %>
</table>
View All Media <%= button_to "Add a Movie", new_movie_path, method: :get %>
