<table>
  <tbody>
    <tr>
      <th>
        Ranking
      </th>
      <th>
        Name
      </th>
      <th>
        Upvote
      </th>
    </tr>
    <tr>
      <td>

      </td>
    </tr>
  </tbody>
</table>
