<%= link_to "Media Ranker", root_path %> <h3>Ranking the Best of Everything</h3>

<h1>Top Movies</h1>
<%= link_to "View all movies", movies_path %>


<h1>Top Books</h1>
<p>
  Will list top books
</p>

<h1>Top Albums</h1>
<p>
  Will list top albums
</p>
