<table class="table table-hover">
  <thead>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
</thead>
  <tbody>
    <% @model.each do |model| %>
      <tr>
        <td> <%= "placeholder ranking method" %></td>
        <td> <%= link_to model.title, model %></td>
        <td> <%="placeholder for upvote button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add New", new_album_path, class:"btn btn-default", role:"button" %>
