<h1> All Albums </h1>

<table>
  <tr>
    <th> Ranking </th>
    <th> Name </th>
    <th> Upvote </th>
  </tr>

  <% @albums.each do |album| %>
  <tr>
    <td><%= album.rank %></td>
    <td><%= link_to album.name, album_path(album.id)%></td>
    <td><%= button_to 'Upvote', album_upvote_path(album.id), method: :post %></td>
  </tr>
  <% end %>
</table>
