<div>
  <table class="table table-hover">
    <tr >
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
    <% @media.each do |media| %>
    <tr >
      <td>Ranked: <%= media.rank %></td>
      <td><%= link_to "#{media.name}", polymorphic_path(media) %></td>
      <td><%= link_to "Upvote", movies_upvote_path(id: movie.id), method: :patch %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Add a #{media.class}", new_movie_path %>
</div>
